/* .card{
  background-color: #e8eae9;
  height: 500px;
}

.card-title{
  position: relative;
  top: 20%;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}
.cards{
  display: flex;
  justify-content: center;
}

.card-upwards{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  border-bottom: 20px solid black;
  border-radius: 8px;
  transition: 0.3s;
  width: 10%;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 30%;
  background-color: white;
  
  
}
.card-title{
  font-size: 14px;
}
.card-downwards{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  border-top: 20px solid black;
  border-radius: 8px;
  transition: 0.3s;
  width: 10%;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.card-image{
    background-image: url("../images/ai-chipos.png");
    width: 100px;
    height: 100px;
    margin: auto;


} */